@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.from-left {
  opacity: 1;
  animation: slideLeft 500ms ease-out;
  transition: transform 0.5s,
    display 0.5s opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.from-right {
  opacity: 1;
  animation: slideRight 500ms ease-out;
  transition: transform 0.5s,
    display 0.5s opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}


.reveal {
  opacity: 1;
  animation: reveal 500ms ease-out;
  transition: transform 0.5s,
    /* display 0.5s opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.animate-up{
  animation-name: animate-up;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes animate-up {
  0% {
    transform: translatey(-600%);
  }
  100% {
    transform: translatey(-3000%);
  }
}

.animate-down{
  animation-name: animate-down;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

}

@keyframes animate-down {
  0% {
    transform: translatey(-3000%);
  }
  100% {
    transform: translatey(-600%);
  }
}
/*invinsible scroll bar*/
.transpaent-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar for Chrome, Safari, and Opera */
}

.transpaent-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.transpaent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}